version: 2
updates:
  - package-ecosystem: "docker-compose"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "sunday"
      time: "02:00"
      timezone: "Europe/Brussels"
    assignees:
      - "cvx10"
    open-pull-requests-limit: 5
    commit-message:
      prefix: "docker"
    labels:
      - "dependencies"
      - "docker"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "sunday"
      time: "02:00"
      timezone: "Europe/Brussels"
    assignees:
      - "cvx10"
    commit-message:
      prefix: "ci"
    labels:
      - "dependencies"
      - "github-actions"
